<footer class="page-footer font-small navbar-dark indigo">
  <div class="container">
    <div class="row">
     <div class="col-md-12 py-1">
       <div class="mb-5 flex-center">
          <a class="fb-ic">
            <mdb-icon icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="tw-ic">
              <mdb-icon icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="gplus-ic">
              <mdb-icon icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
            <a class="li-ic">
              <mdb-icon icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
          <a class="ins-ic">
              <mdb-icon icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="pin-ic">
              <mdb-icon icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> DashboxForGeek.com</a>
  </div>
</footer>
