<div class="container">
  <div class="content">
    <div class="img">
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(33).jpg"></mdb-card-img>
    </div>
    <div class="title">
      <h2> Card Title</h2>
    </div>
    <div class="text">
      <mdb-card-text>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sapiente non suscipit eos saepe quidem temporibus error excepturi ut, voluptatibus minima nemo aspernatur illo? Deserunt quasi nemo perferendis ex harum aliquam modi voluptatibus officiis, natus et aperiam debitis, impedit ipsa quae officia nisi ab incidunt ipsum quod totam suscipit quibusdam quos ea ad? Dolore minus dolorem, obcaecati debitis vitae impedit numquam animi omnis dolores voluptas maiores vero quia quam sint ipsa asperiores voluptatum nulla atque officia ullam mollitia optio laboriosam sequi nisi. Inventore delectus, illum fugiat repellendus impedit quas tenetur natus ut sint maxime at eius facilis nisi accusamus dolorum!     </mdb-card-text>
    </div>
    <div class="return">
      <a [routerLink]="['/']" routerLinkActive="router-link-active"  >
        Go Home
      </a>
    </div>
  </div>
</div>
