<div class="container">
    <div class="content">
      <div class="img">
      <mdb-card-img  src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(8).jpg"></mdb-card-img>
    </div>
    <div class="title">
     <h2> Card Title</h2>
    </div>
    <div class="text">
        <mdb-card-text>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae perspiciatis cum nihil ipsa, maiores laboriosam ducimus deserunt corporis accusantium repudiandae in illum qui deleniti! Fugit, facilis vitae vel id ratione nihil soluta repellendus molestiae quas ex cum commodi a, eaque sed quia libero est quos eligendi cumque eum molestias maxime deleniti dicta? Animi ipsam quas at! Placeat nemo nostrum sint itaque neque quam est sit? Necessitatibus sint unde nostrum! Autem illo nihil ea nesciunt fugiat? Nemo voluptatum quod, cupiditate ipsa eveniet quos nobis, nam molestias qui at minima neque impedit. Iusto sapiente fugiat minus ullam accusamus aut accusantium, iste praesentium.          </mdb-card-text>
    </div>
    <div class="return">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  >
          Go Home
        </a>
      </div>
    </div>
  </div>
