<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>


<!-- <div class="slidershow midle">

  <div class="sliders">

    <input type="radio" name="r" id="r1" checked>
    <input type="radio" name="r" id="r2">
    <input type="radio" name="r" id="r3">
    <input type="radio" name="r" id="r4">
    <input type="radio" name="r" id="r5">

    <div class="slide s1">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(51).jpg" alt="">
    </div>
    <div class="slide">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(11).jpg" alt="">
    </div>
    <div class="slide">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(13).jpg" alt="">
    </div>
    <div class="slide">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(12).jpg" alt="">
    </div>
    <div class="slide">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(99).jpg" alt="">
    </div>
  </div>

  <div class="navigator">
    <label for="r1" class="bar"></label>
    <label for="r2" class="bar"></label>
    <label for="r3" class="bar"></label>
    <label for="r4" class="bar"></label>
    <label for="r5" class="bar"></label>
  </div>

</div> -->
