<div class="container">
    <div class="content">
      <div class="img">
      <mdb-card-img  src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(55).jpg"></mdb-card-img>
    </div>
    <div class="title">
     <h2> Card Title</h2>
    </div>
    <div class="text">
        <mdb-card-text>
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem at mollitia iusto repudiandae odio aliquid earum dolorum ab, tenetur placeat voluptas enim suscipit iste officia quasi, ipsa fugiat! Aliquid cum ex, vitae commodi voluptas asperiores consequatur laudantium maiores, rem nihil porro saepe eos, assumenda ab nemo nisi. Blanditiis cupiditate autem natus aperiam! Exercitationem earum sapiente sunt aperiam velit id voluptates veritatis! Facilis, eius blanditiis! Tempore dolor aspernatur iste iure sed animi accusamus nulla tenetur temporibus adipisci minus libero fugit eum, labore quo. Adipisci voluptatum mollitia vitae esse minima expedita sit impedit tenetur possimus, dignissimos harum pariatur consectetur maxime nemo fugiat.          </mdb-card-text>
    </div>
    <div class="return">
      <a [routerLink]="['/']" routerLinkActive="router-link-active"  >
        Go Home
      </a>
    </div>
    </div>
  </div>
