
.midle{
  background-color: #a29bfe;
  margin-top: 30px;
}


app-table{
  overflow: hidden;
  display: flex;
  margin: 50px 30px 0;

}

// app-graphic{
//   overflow: hidden;
//   display: flex;
//   margin: 30px 30px 0px 30px;

// }

